# Combine traffic data in similar format

In [1]:
from glob import glob
import sets
import datetime
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import numpy as np
from collections import defaultdict

/Users/along528/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: DeprecationWarning: the sets module is deprecated
  from ipykernel import kernelapp as app

In [2]:
dbname = 'combined_profiling'
username = 'along528'
pswd = 'password'
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print engine.url

postgresql://along528:password@localhost/combined_profiling

In [3]:
dbname = 'combined_profiling'
username = 'along528'
pswd = 'password'
con_comb = None
con_comb = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

## Illinois traffic data

In [16]:
dbname = 'traffic_stops_il'
username = 'along528'
pswd = 'password'
con_il = None
con_il = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

Even though we have data from 2004 - 2014, the Chicago PD reported 'Yes' for contrabandfound for every stop from 2004-2006. Since this is suspect let's just start from 2007.

In [ ]:

il_year_start = 2007 
il_year_stop = 2014
df_race_map = defaultdict(list)
for race in ['black','white']:
    for year in range(il_year_start,il_year_stop+1):
        query = """
        SELECT agencycode,agencyname,count(agencycode) AS stops_<RACE>,
        SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_<RACE>,
        SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_<RACE>,
        year 
        FROM traffic_stops_<YEAR>
        WHERE race = '<RACE>'
        GROUP BY agencycode,agencyname,year
        """
        query = query.replace('<RACE>',race)
        query = query.replace('<YEAR>',str(year))
        df_race_map[race].append(pd.read_sql(query,con_il))

In [ ]:
for year in range(il_year_start,il_year_stop+1):
        query = """
        SELECT agencycode,agencyname,count(agencycode) AS stops_total,
        SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_total,
        SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_total,
        year 
        FROM traffic_stops_<YEAR>
        GROUP BY agencycode,agencyname,year
        """
        query = query.replace('<YEAR>',str(year))
        df_race_map['total'].append(pd.read_sql(query,con_il))

In [ ]:
dfs={}
for key in df_race_map:
    dfs[key] = pd.concat(df_race_map[key])

In [ ]:
for key in dfs:
    print key,len(dfs[key])

In [ ]:
dfs['total']

In [ ]:
df_il = pd.DataFrame(dfs['total'])
df_il = df_il.merge(dfs['white'],how='left')
df_il = df_il.merge(dfs['black'],how='left')
df_il = df_il.fillna(0)
df_il.rename(columns=lambda x: x.replace('agencycode','agencyid'),inplace=True)
df_il

In [ ]:
df_il.to_sql('il_traffic_stops_split_by_year',engine,if_exists='replace')

In [18]:
query = """
SELECT agencyid,
agencyname,
SUM(stops_total) as stops_total,
SUM(searches_total) as searches_total,
SUM(hits_total) as hits_total,
SUM(stops_white) as stops_white,
SUM(searches_white) as searches_white,
SUM(hits_white) as hits_white,
SUM(stops_black) as stops_black,
SUM(searches_black) as searches_black,
SUM(hits_black) as hits_black
FROM il_traffic_stops_split_by_year
GROUP BY agencyid,agencyname;
"""
df_il_integrate = pd.read_sql(query,con_comb)
df_il_integrate

,agencyid,agencyname,stops_total,searches_total,hits_total,stops_white,searches_white,hits_white,stops_black,searches_black,hits_black
0,13228,Malta Police,2734,13,2,1810,3,1,574,6,0
1,13689,Meredosia Police,1971,22,7,1876,21,7,52,0,0
2,13981,Cherry Valley Police,11735,590,312,8692,309,166,1430,113,43
3,13636,Toluca Police,100,1,0,92,1,0,3,0,0
4,13756,Rock Island Police,57484,5873,1040,34975,3082,538,19253,2484,468
5,13661,Mercer County Sheriff,6096,1456,100,5406,1276,86,270,79,7
6,13843,Cowden Police,590,21,3,581,21,3,5,0,0
7,13604,Wilsonville Police,371,17,10,367,17,10,1,0,0
8,14015,Sycamore Police,22802,64,21,19188,45,17,1695,8,2
9,13717,Monticello Police,6608,253,55,5983,174,41,420,50,12
10,13875,Delavan Police,396,26,6,389,26,4,6,0,2
11,13115,Pana Police,2028,83,39,2007,78,37,12,3,1
12,13550,Richmond Police,7515,134,38,6818,112,34,130,3,0
13,13887,Tilton Police,784,179,43,694,145,39,78,30,3
14,13747,Percy Police,147,5,2,136,3,1,8,2,1
15,13323,Vermont Police,62,7,2,61,7,2,0,0,0
16,13813,Pleasant Plains Police,1737,5,1,1494,3,1,149,1,0
17,13780,Marissa Police,3553,163,49,3301,144,46,196,14,2
18,13736,Putnam County Sheriff,4660,136,102,4269,126,99,130,3,0
19,13575,Heyworth Police,2980,63,16,2763,53,14,109,5,1
20,13987,Bayview Gardens Police,314,0,0,312,0,0,0,0,0
21,13433,West Dundee Police,17613,316,20,11838,76,9,1256,27,4
22,13527,Ashton Police,1009,15,4,886,10,3,24,0,0
23,13839,Shelbyville Police,407,17,11,395,17,11,8,0,0
24,13159,Stone Park Police,7702,61,3,2786,8,0,1892,14,1
25,13139,Mattoon Police,8483,469,116,7861,377,98,504,80,17
26,13615,Madison County Sheriff,5647,559,90,4785,409,74,710,127,13
27,14122,Rutland Police,162,0,0,159,0,0,0,0,0
28,13537,Emden Police,9,0,0,9,0,0,0,0,0
29,13514,Lasalle County Sheriff,4377,252,101,3740,202,82,206,19,10
...,...,...,...,...,...,...,...,...,...,...,...
1078,13217,Hutsonville Police,276,16,4,266,16,4,5,0,0
1079,13504,Sheridan Police,1404,39,9,1200,29,8,105,5,0
1080,13692,Sullivan Police,5044,56,13,4926,51,13,90,4,0
1081,13560,Hebron Police,2001,16,3,1744,8,3,54,2,0
1082,13469,Deerfield Police,49836,1229,212,39960,625,153,2534,137,20
1083,13055,Camp Point Police,744,18,7,724,16,7,10,2,0
1084,12992,Schaumburg Police,92774,1656,258,65025,879,172,7831,248,38
1085,13553,Mchenry County Sheriff,82608,2838,529,71743,1954,451,1609,92,14
1086,13306,Royalton Police,675,11,1,657,10,1,14,1,0
1087,13389,Newton Police,4161,155,65,3992,149,64,85,2,0
1088,14134,Oquawka Police,116,3,2,114,3,2,2,0,0
1089,13373,Gilman Police,2313,25,12,2001,13,6,45,0,0
1090,13432,Waubonsee Community College Police,1594,6,1,1058,2,0,176,1,0
1091,13830,Spaulding Police,286,5,2,282,5,2,4,0,0
1092,13811,Rochester Police,7602,80,22,7209,65,19,273,14,3
1093,14074,Bonnie Police,423,17,2,385,12,1,35,4,1
1094,13846,Stark County Sheriff,4851,116,38,4505,88,24,140,11,6
1095,13745,Randolph County Sheriff,5964,272,146,5610,241,135,254,19,7
1096,13708,Glasford Police,634,24,9,626,24,9,6,0,0
1097,14123,Stronghurst Police,224,3,2,222,3,2,1,0,0
1098,13069,Belvidere Police,41957,2676,299,29443,1495,182,2349,237,29
1099,13533,Mount Pulaski Police,1299,50,15,1160,38,13,106,10,2
1100,13593,Virden Police,1809,108,37,1800,106,36,7,2,1
1101,14000,Crete Police,14903,1609,579,8239,704,285,5333,676,234
1102,13232,Genoa Police,8276,475,105,7097,300,84,191,28,9
1103,13807,Southern View Police,7178,676,180,5411,441,122,1571,221,55
1104,13078,Neponset Police,1,0,0,1,0,0,0,0,0
1105,13996,Norwood Police,131,2,1,127,2,1,3,0,0
1106,14106,Raleigh Police,275,12,2,267,12,2,7,0,0
1107,13500,Winthrop Harbor Police,22849,1125,553,16002,616,312,3718,275,158

In [17]:
df_il_integrate.to_sql('il_traffic_stops_integrate_year',engine,if_exists='replace')

NameError: name 'df_il_integrate' is not defined

Should I remove those departments where there are 0 in some field? Maybe not for hits. but for searches and stops, yes

## Connecticut

In [4]:
dbname = 'traffic_stops_ct'
username = 'along528'
pswd = 'password'
con_ct = None
con_ct = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [5]:
df_race_map_ct=defaultdict(list)
for race in ['white','black']:
    query = """
        SELECT agencyname,year,count(agencyid) AS stops_<RACE>,
        SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_<RACE>,
        SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_<RACE>
        FROM stops
        WHERE race = '<RACE>'
        GROUP BY agencyname,year
        """
    query = query.replace('<RACE>',race)
    df_race_map_ct[race] = pd.read_sql(query,con_ct)

In [6]:
query = """
SELECT agencyname,year,count(agencyid) AS stops_total,
SUM(CASE WHEN searchconducted = 'Yes' THEN 1 ELSE 0 END) as searches_total,
SUM(CASE WHEN contrabandfound = 'Yes' THEN 1 ELSE 0 END) as hits_total
FROM stops
GROUP BY agencyname,year
"""
df_race_map_ct['total'] = pd.read_sql(query,con_ct)

In [7]:
df_race_map_ct['black']

            agencyname  year  stops_black  searches_black  hits_black
0             Plymouth  2015           44               3           0
1               Darien  2014          427              27          17
2          New Britain  2013          162               9           6
3               Weston  2015           11               0           0
4              Milford  2014          548             112          27
5    Groton Long Point  2015            3               0           0
6               Granby  2014           81               1           1
7             Portland  2014           11               1           2
8            Naugatuck  2015          150              11           4
9           Manchester  2014          958              53          30
10              Putnam  2015           13               0           0
11      North Branford  2014           60               2           0
12           Newington  2015          201              13           3
13              Berlin  2014          639              50          10
14              Hamden  2014         2080              66           7
15         North Haven  2014          376              42           7
16         Groton Town  2014          853              29          16
17      CAPITOL POLICE  2015           14               0           0
18       South Windsor  2015           93               8           4
19             Enfield  2015          175              13           5
20                SCSU  2015          273               5           3
21          Middletown  2015          235              29          17
22          West Haven  2014          968              42           7
23          Rocky Hill  2013           66               2           2
24               Derby  2014          547              67           1
25              Easton  2014           19               0           0
26             Norwich  2014         1439             131          40
27             Clinton  2015           26               4           3
28          Bridgeport  2014         2280             319          28
29         New Milford  2014          148               6           3
..                 ...   ...          ...             ...         ...
199      South Windsor  2013           45               4           0
200           Suffield  2015            8               0           0
201           Branford  2014          334              14           1
202               ECSU  2014           23               0           1
203             Bethel  2015           70               1           0
204         Brookfield  2015           11               3           1
205            Bristol  2015          176               6           1
206            Enfield  2013           93               3           1
207          New Haven  2015         2536             281          78
208               Avon  2015           28               1           0
209             Wilton  2014          382              43           5
210       Old Saybrook  2014           93               6           1
211            Newtown  2014          525              11           4
212         Rocky Hill  2015           98               5           2
213        New Britain  2015          479              32          12
214           Simsbury  2014          209               4           0
215            Seymour  2014          225              16           1
216            Shelton  2014           43               2           0
217         Woodbridge  2015          119               7           2
218          Greenwich  2014          694              23           4
219            Redding  2014           84               3           0
220         Ridgefield  2014          265               3           0
221               CCSU  2015          149               0           0
222            Wolcott  2014           74               9           0
223               Yale  2015          120              18           6
224         New Canaan  2015           85               1           1
225          Watertown  2015           35               1           0
226             Vernon  2015          145               8           6
227          Thomaston  2015            7               0           0
228                DMV  2014          483               2           0

[229 rows x 5 columns]

In [8]:
df_ct = pd.DataFrame(df_race_map_ct['total'])
df_ct = df_ct.merge(df_race_map_ct['white'],how='left')
df_ct = df_ct.merge(df_race_map_ct['black'],how='left')
df_ct = df_ct.fillna(0)
df_ct = df_ct[df_ct['agencyname']!=0]
df_ct

,agencyname,year,stops_total,searches_total,hits_total,stops_white,searches_white,hits_white,stops_black,searches_black,hits_black
1,Plymouth,2015,845,24,6,794,21,6,44,3,0
2,New Britain,2013,1029,43,25,861,34,19,162,9,6
3,Weston,2015,143,1,1,131,1,1,11,0,0
4,Milford,2014,4358,422,142,3711,309,115,548,112,27
5,Granby,2014,1348,27,26,1258,26,25,81,1,1
6,Portland,2014,162,2,3,150,1,1,11,1,2
7,Naugatuck,2015,1555,96,36,1382,85,32,150,11,4
8,Putnam,2015,295,10,6,280,10,6,13,0,0
9,Derby,0,1,0,0,1,0,0,0,0,0
10,Berlin,2014,6925,290,60,6164,237,48,639,50,10
11,Hamden,2014,5442,110,16,3310,44,9,2080,66,7
12,North Haven,2014,3042,209,47,2635,166,40,376,42,7
13,MET DIST WATER AUTHORITY,2013,2,0,0,2,0,0,0,0,0
14,Enfield,2015,1770,42,16,1561,29,11,175,13,5
15,West Haven,2014,3870,135,17,2846,93,10,968,42,7
16,Easton,2014,434,5,0,410,5,0,19,0,0
17,Clinton,2015,685,37,20,650,33,17,26,4,3
18,Bridgeport,2014,5858,624,58,3438,297,30,2280,319,28
19,East Hartford,2013,1143,34,21,729,18,11,409,16,10
20,Monroe,2015,1602,22,12,1491,21,11,91,0,0
21,Danbury,2014,6182,363,24,5605,324,21,445,34,3
22,Windsor,2014,5896,50,24,3198,20,7,2574,30,16
23,Stamford,2015,1777,47,10,1458,36,10,259,11,0
24,Groton City,2014,2943,72,36,2342,42,23,487,30,13
25,Guilford,2014,2824,28,13,2715,27,11,60,1,1
26,UCONN,2015,798,25,16,664,22,13,71,2,2
27,Waterford,2015,2240,102,47,1895,83,41,291,15,6
28,Meriden,2015,874,85,31,702,59,20,167,26,11
29,Madison,2014,3142,29,11,3002,28,10,97,1,1
30,Waterbury,2014,2222,595,106,1517,372,67,694,220,39
...,...,...,...,...,...,...,...,...,...,...,...
206,Bethel,2015,1254,14,10,1159,13,10,70,1,0
207,New Haven,2015,5590,437,152,2960,151,72,2536,281,78
208,Avon,2015,417,6,5,375,5,5,28,1,0
209,Wilton,2014,4704,412,22,4218,364,17,382,43,5
210,Newtown,2014,10073,100,46,9362,88,42,525,11,4
211,Rocky Hill,2015,938,21,13,815,15,10,98,5,2
212,Simsbury,2014,3852,32,16,3588,28,16,209,4,0
213,Seymour,2014,3563,75,4,3286,58,3,225,16,1
214,Ridgefield,2014,7750,34,8,7287,31,8,265,3,0
215,Yale,2015,321,37,11,186,17,5,120,18,6
216,Thomaston,2015,343,15,8,330,15,8,7,0,0
217,Farmington,2014,5115,125,44,4569,114,40,409,11,4
218,State Police,2015,89584,1975,759,74882,1506,615,11237,448,138
219,New London,2015,651,67,16,493,49,13,145,17,3
220,Windsor Locks,2015,955,32,2,811,28,2,122,3,0
221,Westport,2014,7423,234,86,6550,165,66,717,64,19
222,Wallingford,2015,3995,339,151,3540,294,131,387,44,19
223,Willimantic,2014,4460,229,77,4077,194,67,337,33,10
224,Winsted,2015,239,5,7,228,3,6,9,2,1
225,Cromwell,2013,482,6,4,409,4,3,59,1,1
226,East Haven,2013,120,4,0,112,3,0,8,1,0
227,Plainfield,2015,522,13,0,500,11,0,14,1,0
228,Plainville,2015,847,59,17,776,53,14,53,6,3
229,Orange,2015,1209,13,7,943,6,5,231,7,2
230,Stonington,2014,2248,11,6,2115,9,4,88,2,2
231,East Hampton,2014,730,32,20,702,30,19,21,2,1
232,Torrington,2015,1896,20,11,1779,15,9,102,5,2
233,Hartford,2013,1,0,0,0,0,0,1,0,0
234,Wethersfield,2014,5860,351,133,4643,263,102,1111,84,31
235,Glastonbury,2014,6535,429,136,5726,367,117,543,58,19

In [9]:
df_ct.to_sql('ct_traffic_stops_split_by_year_noagencyid',engine,if_exists='replace')

In [11]:
query = """
SELECT 
agencyname,
SUM(stops_total) as stops_total,
SUM(searches_total) as searches_total,
SUM(hits_total) as hits_total,
SUM(stops_white) as stops_white,
SUM(searches_white) as searches_white,
SUM(hits_white) as hits_white,
SUM(stops_black) as stops_black,
SUM(searches_black) as searches_black,
SUM(hits_black) as hits_black
FROM ct_traffic_stops_split_by_year_noagencyid
GROUP BY agencyname;
"""
df_ct_integrate = pd.read_sql(query,con_comb)
df_ct_integrate = df_ct_integrate.reset_index()
#build a unique agency id 
df_ct_integrate.rename(columns=lambda x: x.replace('index','agencyid'),inplace=True)
df_ct_integrate

,agencyid,agencyname,stops_total,searches_total,hits_total,stops_white,searches_white,hits_white,stops_black,searches_black,hits_black
0,0,Manchester,5474,203,125,3937,126,78,1357,76,43
1,1,Darien,4944,144,62,4242,110,44,564,33,18
2,2,Derby,5000,437,18,4228,346,17,709,89,1
3,3,Norwich,9817,625,184,7339,433,127,2008,184,56
4,4,Groton Town,8100,151,83,6843,115,64,1065,35,18
5,5,North Branford,1892,22,10,1781,20,10,93,2,0
6,6,Fairfield,8194,198,100,6986,152,82,1111,46,18
7,7,WCSU,49,1,0,40,1,0,6,0,0
8,8,New Milford,5493,104,56,5182,91,50,211,10,5
9,9,Middlebury,313,3,0,299,2,0,10,1,0
10,10,Ansonia,7068,165,27,5865,132,19,1139,33,8
11,11,West Hartford,11849,1015,600,9668,909,552,1777,102,47
12,12,Waterford,5768,248,123,4932,206,101,702,37,22
13,13,Meriden,4107,285,100,3341,199,65,719,86,35
14,14,UCONN,3128,114,55,2511,93,44,309,13,6
15,15,Stamford,16903,417,87,13364,299,64,2896,113,22
16,16,Monroe,6588,87,41,6143,77,39,365,8,1
17,17,Clinton,3561,217,117,3364,206,110,128,9,6
18,18,Enfield,9763,273,81,8655,233,69,942,39,10
19,19,Putnam,2856,17,10,2764,17,10,70,0,0
20,20,Ledyard,10,0,0,7,0,0,1,0,0
21,21,Naugatuck,7796,406,144,6809,334,122,880,69,22
22,22,MTA Stamford,1,0,0,1,0,0,0,0,0
23,23,Weston,553,2,1,521,2,1,25,0,0
24,24,Plymouth,3455,118,28,3260,106,25,167,12,3
25,25,Coventry,2057,24,13,1937,23,13,85,1,0
26,26,East Hartford,10990,405,210,6712,208,106,4100,196,103
27,27,Canton,2324,74,22,2182,69,21,92,4,1
28,28,Bloomfield,7965,195,76,3438,40,21,4381,155,55
29,29,East Windsor,1519,41,14,1301,33,13,194,8,1
...,...,...,...,...,...,...,...,...,...,...,...
74,74,SCSU,1492,29,12,676,11,5,803,17,7
75,75,CAPITOL POLICE,384,10,1,271,6,0,106,4,1
76,76,South Windsor,4134,188,95,3326,131,67,684,56,28
77,77,Newington,9315,361,96,7698,280,79,1334,78,16
78,78,Groton Long Point,143,0,0,137,0,0,5,0,0
79,79,Torrington,12280,220,105,11455,178,93,710,42,11
80,80,Orange,5072,93,39,4017,65,30,912,28,8
81,81,Plainfield,1764,34,10,1708,30,8,43,3,2
82,82,Plainville,6667,411,185,6003,365,172,566,45,13
83,83,Winsted,956,15,43,908,11,40,46,4,3
84,84,Wallingford,13432,728,378,12079,633,327,1143,90,47
85,85,New London,2188,197,68,1755,150,52,398,45,16
86,86,Windsor Locks,3918,128,14,3301,97,11,547,29,3
87,87,State Police,322189,5454,1892,275225,4093,1488,39115,1318,393
88,88,Thomaston,1346,27,12,1305,27,12,27,0,0
89,89,Yale,1671,131,43,977,63,25,632,64,17
90,90,Rocky Hill,5535,122,68,4787,100,54,583,19,11
91,91,New Haven,16756,1273,835,8717,438,435,7732,827,383
92,92,Avon,1228,14,13,1103,13,13,97,1,0
93,93,Bethel,5114,51,31,4758,45,28,259,6,3
94,94,Suffield,1055,18,4,1010,17,3,35,1,1
95,95,Old Saybrook,4371,151,83,4156,144,81,135,7,2
96,96,Wolcott,1004,56,1,912,45,1,88,11,0
97,97,Redding,3217,52,3,3067,48,3,103,4,0
98,98,Greenwich,11354,190,31,10207,161,25,859,28,6
99,99,Shelton,861,29,5,790,26,5,60,2,0
100,100,Norwalk,10180,774,173,7708,452,109,2362,320,63
101,101,DMV,3493,11,3,2815,8,3,610,3,0
102,102,Trumbull,3896,131,56,3112,98,39,694,32,17
103,103,Southington,7229,25,51,6992,24,50,183,1,1

In [12]:
df_ct_integrate.to_sql('ct_traffic_stops_integrate_year',engine,if_exists='replace')

In [13]:
ct_id_map = df_ct_integrate[['agencyname','agencyid']].set_index('agencyname')
df_ct['agencyid'] = df_ct['agencyname'].map(ct_id_map['agencyid'])
df_ct

,agencyname,year,stops_total,searches_total,hits_total,stops_white,searches_white,hits_white,stops_black,searches_black,hits_black,agencyid
1,Plymouth,2015,845,24,6,794,21,6,44,3,0,24
2,New Britain,2013,1029,43,25,861,34,19,162,9,6,35
3,Weston,2015,143,1,1,131,1,1,11,0,0,23
4,Milford,2014,4358,422,142,3711,309,115,548,112,27,54
5,Granby,2014,1348,27,26,1258,26,25,81,1,1,55
6,Portland,2014,162,2,3,150,1,1,11,1,2,53
7,Naugatuck,2015,1555,96,36,1382,85,32,150,11,4,21
8,Putnam,2015,295,10,6,280,10,6,13,0,0,19
9,Derby,0,1,0,0,1,0,0,0,0,0,2
10,Berlin,2014,6925,290,60,6164,237,48,639,50,10,60
11,Hamden,2014,5442,110,16,3310,44,9,2080,66,7,58
12,North Haven,2014,3042,209,47,2635,166,40,376,42,7,59
13,MET DIST WATER AUTHORITY,2013,2,0,0,2,0,0,0,0,0,36
14,Enfield,2015,1770,42,16,1561,29,11,175,13,5,18
15,West Haven,2014,3870,135,17,2846,93,10,968,42,7,57
16,Easton,2014,434,5,0,410,5,0,19,0,0,56
17,Clinton,2015,685,37,20,650,33,17,26,4,3,17
18,Bridgeport,2014,5858,624,58,3438,297,30,2280,319,28,65
19,East Hartford,2013,1143,34,21,729,18,11,409,16,10,26
20,Monroe,2015,1602,22,12,1491,21,11,91,0,0,16
21,Danbury,2014,6182,363,24,5605,324,21,445,34,3,64
22,Windsor,2014,5896,50,24,3198,20,7,2574,30,16,63
23,Stamford,2015,1777,47,10,1458,36,10,259,11,0,15
24,Groton City,2014,2943,72,36,2342,42,23,487,30,13,62
25,Guilford,2014,2824,28,13,2715,27,11,60,1,1,61
26,UCONN,2015,798,25,16,664,22,13,71,2,2,14
27,Waterford,2015,2240,102,47,1895,83,41,291,15,6,12
28,Meriden,2015,874,85,31,702,59,20,167,26,11,13
29,Madison,2014,3142,29,11,3002,28,10,97,1,1,67
30,Waterbury,2014,2222,595,106,1517,372,67,694,220,39,66
...,...,...,...,...,...,...,...,...,...,...,...,...
206,Bethel,2015,1254,14,10,1159,13,10,70,1,0,93
207,New Haven,2015,5590,437,152,2960,151,72,2536,281,78,91
208,Avon,2015,417,6,5,375,5,5,28,1,0,92
209,Wilton,2014,4704,412,22,4218,364,17,382,43,5,40
210,Newtown,2014,10073,100,46,9362,88,42,525,11,4,39
211,Rocky Hill,2015,938,21,13,815,15,10,98,5,2,90
212,Simsbury,2014,3852,32,16,3588,28,16,209,4,0,45
213,Seymour,2014,3563,75,4,3286,58,3,225,16,1,44
214,Ridgefield,2014,7750,34,8,7287,31,8,265,3,0,43
215,Yale,2015,321,37,11,186,17,5,120,18,6,89
216,Thomaston,2015,343,15,8,330,15,8,7,0,0,88
217,Farmington,2014,5115,125,44,4569,114,40,409,11,4,47
218,State Police,2015,89584,1975,759,74882,1506,615,11237,448,138,87
219,New London,2015,651,67,16,493,49,13,145,17,3,85
220,Windsor Locks,2015,955,32,2,811,28,2,122,3,0,86
221,Westport,2014,7423,234,86,6550,165,66,717,64,19,46
222,Wallingford,2015,3995,339,151,3540,294,131,387,44,19,84
223,Willimantic,2014,4460,229,77,4077,194,67,337,33,10,52
224,Winsted,2015,239,5,7,228,3,6,9,2,1,83
225,Cromwell,2013,482,6,4,409,4,3,59,1,1,71
226,East Haven,2013,120,4,0,112,3,0,8,1,0,72
227,Plainfield,2015,522,13,0,500,11,0,14,1,0,81
228,Plainville,2015,847,59,17,776,53,14,53,6,3,82
229,Orange,2015,1209,13,7,943,6,5,231,7,2,80
230,Stonington,2014,2248,11,6,2115,9,4,88,2,2,51
231,East Hampton,2014,730,32,20,702,30,19,21,2,1,50
232,Torrington,2015,1896,20,11,1779,15,9,102,5,2,79
233,Hartford,2013,1,0,0,0,0,0,1,0,0,70
234,Wethersfield,2014,5860,351,133,4643,263,102,1111,84,31,49
235,Glastonbury,2014,6535,429,136,5726,367,117,543,58,19,48

In [14]:
df_ct.to_sql('ct_traffic_stops_split_by_year',engine,if_exists='replace')

## North Carolina

In [19]:
#already pre-processed nc data
#note that these only include those already matched to the survey data
#unlike IL and CT which have not yet been matched
dbname = 'traffic_police_combined' 
username = 'along528'
pswd = 'password'
con_nc = None
con_nc = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [20]:
dbname = 'traffic_stops_nc'
username = 'along528'
pswd = 'password'
con_nc2 = None
con_nc2 = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

In [ ]:
df_nc_agency = pd.read_sql('SELECT * FROM nc_agency',con_nc2)
df_nc_agency

In [ ]:
frames_new = {}
frames_new_sumyears = {}
for tag in ["stops","hits","searches","force"]: 
    sql_query = "SELECT * FROM %s_by_race;" % (tag)
    frames_new[tag] = pd.read_sql_query(sql_query,con_nc)
    #have same column names for easily building ratios
    #frames_new[tag].rename(columns=lambda x: x.replace(tag+'_',''),inplace=True)
    frames_new[tag].rename(columns=lambda x: x.replace('agency_id','agencyid'),inplace=True)
    frames_new[tag]['agencyname'] =  frames_new[tag]['agencyid'].map(df_nc_agency['name'])
    #sum by year
    frames_new_sumyears[tag] = frames_new[tag].groupby(['agencyid']).sum().drop(['index','year'],1)
    frames_new_sumyears[tag]['agencyname'] =  frames_new[tag]['agencyid'].map(df_nc_agency['name'])

In [ ]:
df_nc = pd.concat([frames_new['stops'][['agencyid','agencyname','year',
                                        'stops_total','stops_white','stops_black']],
                   frames_new['searches'][['searches_total','searches_white','searches_black']],
                   frames_new['hits'][['hits_total','hits_white','hits_black']]],axis=1)
df_nc = df_nc.fillna(0)
df_nc

In [ ]:
df_nc.to_sql('nc_traffic_stops_split_by_year',engine,if_exists='replace')

In [ ]:
frames_new['hits']

In [ ]:
query = """
SELECT agencyid,
agencyname,
SUM(stops_total) as stops_total,
SUM(searches_total) as searches_total,
SUM(hits_total) as hits_total,
SUM(stops_white) as stops_white,
SUM(searches_white) as searches_white,
SUM(hits_white) as hits_white,
SUM(stops_black) as stops_black,
SUM(searches_black) as searches_black,
SUM(hits_black) as hits_black
FROM nc_traffic_stops_split_by_year
GROUP BY agencyid,agencyname;
"""
df_nc_integrate = pd.read_sql(query,con_comb)
df_nc_integrate

In [ ]:
df_nc_integrate.to_sql('nc_traffic_stops_integrate_year',engine,if_exists='replace')

## Combine all three

In [15]:
df_il_integrate['agencyid'] = df_il_integrate['agencyid'].map(lambda x: "IL"+str(x))
df_il_integrate['state'] = 'IL'
df_nc_integrate['agencyid'] = df_nc_integrate['agencyid'].map(lambda x: "NC"+str(x))
df_nc_integrate['state'] = 'NC'
#already has CT tag
df_ct_integrate['agencyid'] = df_ct_integrate['agencyid'].map(lambda x: "CT"+str(x))
df_ct_integrate['state'] = 'CT'

NameError: name 'df_il_integrate' is not defined

In [ ]:
df_comb = pd.concat([df_il_integrate,df_nc_integrate,df_ct_integrate])
df_comb

In [ ]:
df_comb.to_sql('combined_traffic_stops_integrate_year',engine,if_exists='replace')