## Creating new features for nctraffic

In [1]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

Load original database

In [2]:
dbname = 'traffic_stops_nc'
username = 'along528'
pswd = 'password'
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

And create new database for adding features

In [3]:
dbname = 'traffic_police_combined'
username = 'along528'
pswd = 'password'
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print engine.url

postgresql://along528:password@localhost/traffic_police_combined

In [4]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

# Tools for building features
We want features that are grouped by matched agency and year. Where each feature is split by race. And we include a total.

In [5]:
races = ['B','W','A','I','U']
race_descriptive = ['black','white','asian','native_american','other']
import pickle
agencyid_map_police_to_traffic = pickle.load( open( "../nctraffic_police_combined/agencyid_map_police_to_traffic.p", "rb" ) )
agencyid_map_traffic_to_police = pickle.load( open( "../nctraffic_police_combined/agencyid_map_traffic_to_police.p", "rb" ) )
def build_features_by_race(query,tag,max_agencies=-1):
    n_agencies = 0
    frame = pd.DataFrame()
    frames = []
    for agency_id in agencyid_map_traffic_to_police:
        counts_by_race={}
        for race,desc in zip(races,race_descriptive):
            query_tmp = query.replace("<AGENCY_ID>",str(agency_id))
            query_tmp = query_tmp.replace("<RACE>",race)
            counts_by_race[tag+"_"+desc]=pd.read_sql_query(query_tmp,con).set_index('year')['count']
        frame_agency = pd.DataFrame(counts_by_race)
        frame_agency['agency_id'] = agency_id
        frames.append(frame_agency)
        n_agencies+=1
        if max_agencies>0 and n_agencies>=max_agencies: break
    frame = pd.concat(frames)
    frame = frame.fillna(0)
    frame[tag+'_total'] = frame.sum(axis=1)
    frame = frame.reset_index()
    return frame

# Stops by race
First add one feature for the number of stops by race per (matched) agency per year

In [6]:
tag = "stops"
sql_query = """
            SELECT count(person_id),
               extract(YEAR FROM s.date) AS year
            FROM nc_person p
            JOIN nc_stop s ON p.stop_id = s.stop_id
            WHERE p.type='D'
              AND s.agency_id = <AGENCY_ID>
              AND p.race = '<RACE>'
            GROUP BY p.race,
                     year
            ORDER BY year ASC, p.race DESC;
            """
frame = build_features_by_race(sql_query,tag)
frame.to_sql(tag+'_by_race', engine, if_exists='replace')
frame

,year,stops_asian,stops_black,stops_native_american,stops_other,stops_white,agency_id,stops_total
0,2002,1,367,1,51,532,2,954
1,2003,3,155,1,67,423,2,651
2,2004,15,508,5,226,969,2,1725
3,2005,1,147,0,28,300,2,478
4,2006,2,75,1,33,257,2,370
5,2007,3,113,0,28,280,2,426
6,2008,4,182,0,11,501,2,700
7,2009,16,861,0,12,1870,2,2761
8,2010,17,1311,23,11,2988,2,4352
9,2011,15,1076,12,8,2585,2,3698
10,2012,6,1536,8,9,3551,2,5112
11,2013,13,1398,9,6,3141,2,4569
12,2014,13,1012,3,19,2096,2,3145
13,2015,20,1154,7,12,2456,2,3651
14,2016,2,112,0,2,224,2,342
15,2002,45,1082,6,57,6974,12,8176
16,2003,22,895,2,69,5180,12,6180
17,2004,16,785,2,82,4050,12,4947
18,2005,42,937,3,97,4927,12,6018
19,2006,17,552,3,68,3613,12,4265
20,2007,13,736,4,41,4362,12,5168
21,2008,13,572,1,28,3583,12,4209
22,2009,5,445,1,24,2719,12,3206
23,2010,12,349,1,48,2479,12,2901
24,2011,6,203,1,25,1466,12,1713
25,2012,10,292,2,15,1595,12,1926
26,2013,2,264,0,21,1298,12,1597
27,2014,5,215,0,80,1031,12,1343
28,2015,4,122,0,93,514,12,745
29,2016,0,27,0,10,123,12,172
...,...,...,...,...,...,...,...,...
1177,2002,16,2021,1,99,1750,307,4194
1178,2003,18,1764,0,146,1515,307,3750
1179,2004,7,826,3,73,666,307,1882
1180,2005,14,1465,21,102,1134,307,3043
1181,2006,3,749,7,70,530,307,1666
1182,2007,3,1076,11,131,559,307,2087
1183,2008,7,2565,10,22,1443,307,4354
1184,2009,12,5452,13,9,2787,307,8580
1185,2010,23,6008,26,15,3557,307,9936
1186,2011,29,6835,17,18,4039,307,11245
1187,2012,20,5179,9,13,3157,307,8685
1188,2013,14,5110,6,33,3041,307,8511
1189,2014,3,3475,8,29,2118,307,5940
1190,2015,5,3317,6,28,1886,307,5549
1191,2016,2,956,1,13,461,307,1740
1192,2001,0,0,0,0,1,308,309
1193,2002,292,17061,28,4477,21245,308,43411
1194,2003,142,10589,9,2491,12884,308,26423
1195,2004,208,12319,16,2315,15531,308,30697
1196,2005,217,11055,25,1330,14167,308,27102
1197,2006,180,10347,65,820,13318,308,25038
1198,2007,196,13342,47,201,17788,308,31882
1199,2008,178,13115,53,107,15277,308,29038
1200,2009,175,13919,49,50,13714,308,28215
1201,2010,286,16619,65,76,19044,308,36398
1202,2011,290,17950,72,48,22320,308,40988
1203,2012,281,16466,97,54,19561,308,36767
1204,2013,319,17085,96,52,19241,308,37101
1205,2014,324,16829,73,41,17419,308,34994
1206,2015,237,12021,86,45,12439,308,25136

# Searches by race
First add one feature for the number of searches by race per (matched) agency per year

In [7]:
tag = "searches"
#if it appears in the searches database then it is a search
sql_query = """
SELECT count(se.person_id),
       extract(YEAR FROM s.date) AS year
FROM  nc_person p
JOIN nc_stop s ON p.stop_id = s.stop_id
JOIN nc_search se ON s.stop_id = se.stop_id
WHERE p.type='D'
  AND s.agency_id = <AGENCY_ID>
  AND p.race = '<RACE>'
GROUP BY p.race,
         year
ORDER BY year ASC,
         p.race DESC;
"""
frame = build_features_by_race(sql_query,tag)
frame.to_sql(tag+'_by_race', engine, if_exists='replace')
frame

,year,searches_asian,searches_black,searches_native_american,searches_other,searches_white,agency_id,searches_total
0,2002,0,95,1,17,154,2,269
1,2003,0,23,1,14,87,2,127
2,2004,1,81,0,66,155,2,305
3,2005,0,24,0,7,43,2,76
4,2006,0,3,0,2,11,2,18
5,2007,0,9,0,6,19,2,36
6,2008,1,12,0,2,45,2,62
7,2009,2,139,0,4,300,2,447
8,2010,0,209,5,1,398,2,615
9,2011,1,167,0,0,316,2,486
10,2012,0,277,3,2,418,2,702
11,2013,0,205,0,0,321,2,528
12,2014,0,191,1,2,238,2,434
13,2015,2,146,0,1,199,2,350
14,2016,0,15,0,0,17,2,34
15,2002,0,69,1,2,334,12,418
16,2003,1,68,0,2,252,12,335
17,2004,0,89,0,7,322,12,430
18,2005,0,88,0,8,273,12,381
19,2006,0,33,0,1,109,12,155
20,2007,1,32,0,0,133,12,178
21,2008,0,16,0,1,79,12,108
22,2009,0,8,0,0,38,12,58
23,2010,0,0,0,0,11,12,23
24,2011,0,2,0,0,7,12,21
25,2012,0,3,0,0,11,12,26
26,2013,0,5,0,1,7,12,25
27,2014,0,8,0,1,16,12,37
28,2015,0,15,0,0,17,12,44
29,2016,0,5,0,0,5,12,22
...,...,...,...,...,...,...,...,...
1137,2016,1,143,1,0,105,305,555
1138,2002,0,214,0,16,128,307,665
1139,2003,1,159,0,23,121,307,611
1140,2004,0,79,0,6,36,307,428
1141,2005,0,121,1,1,43,307,473
1142,2006,0,78,0,6,37,307,428
1143,2007,0,90,0,6,50,307,453
1144,2008,0,266,2,1,111,307,687
1145,2009,0,444,0,2,140,307,893
1146,2010,0,302,0,0,98,307,707
1147,2011,0,298,2,0,110,307,717
1148,2012,0,249,0,0,97,307,653
1149,2013,1,228,0,0,95,307,631
1150,2014,0,178,1,1,72,307,559
1151,2015,0,205,0,1,70,307,583
1152,2016,0,29,0,0,14,307,350
1153,2002,0,419,1,199,325,308,1252
1154,2003,0,212,0,84,155,308,759
1155,2004,0,185,0,65,194,308,752
1156,2005,0,236,1,30,212,308,787
1157,2006,0,247,0,18,275,308,848
1158,2007,0,363,0,3,363,308,1037
1159,2008,1,377,1,2,393,308,1082
1160,2009,2,426,1,1,357,308,1095
1161,2010,8,374,4,1,423,308,1118
1162,2011,3,345,2,0,377,308,1035
1163,2012,2,337,1,1,378,308,1027
1164,2013,4,392,1,1,304,308,1010
1165,2014,3,380,3,0,238,308,932
1166,2015,2,263,2,0,193,308,768

# Use of force by race
First add one feature for the number of uses of force by race per (matched) agency per year

In [8]:
tag = "force"
#if it appears in the searches database then it is a search
sql_query = """
SELECT count(se.person_id),
       extract(YEAR FROM s.date) AS year
FROM  nc_person p
JOIN nc_stop s ON p.stop_id = s.stop_id
JOIN nc_search se ON s.stop_id = se.stop_id
WHERE p.type='D'
  AND s.agency_id = <AGENCY_ID>
  AND p.race = '<RACE>'
  AND s.engage_force = 't'
GROUP BY p.race,
         year
ORDER BY year ASC,
         p.race DESC;
"""
frame = build_features_by_race(sql_query,tag)
frame.to_sql(tag+'_by_race', engine, if_exists='replace')
frame

,year,force_asian,force_black,force_native_american,force_other,force_white,agency_id,force_total
0,2002,0,3,0,0,1,2,6
1,2003,0,1,0,0,1,2,4
2,2004,0,3,0,0,2,2,7
3,2007,0,0,0,0,1,2,3
4,2008,0,1,0,0,1,2,4
5,2009,0,1,0,0,4,2,7
6,2010,0,3,0,0,1,2,6
7,2011,0,1,0,0,2,2,5
8,2012,0,4,0,0,1,2,7
9,2013,0,3,0,0,1,2,6
10,2014,0,2,0,0,3,2,7
11,2002,0,1,0,0,2,12,15
12,2003,0,1,0,0,1,12,14
13,2004,0,2,0,0,0,12,14
14,2005,0,2,0,0,1,12,15
15,2006,0,0,0,0,3,12,15
16,2007,0,2,0,0,3,12,17
17,2008,0,1,0,0,0,12,13
18,2011,0,0,0,0,1,12,13
19,2012,0,0,0,0,1,12,13
20,2014,0,1,0,0,1,12,14
21,2016,0,2,0,0,0,12,14
22,2002,0,10,0,0,6,13,29
23,2003,0,8,0,0,10,13,31
24,2004,0,1,0,0,8,13,22
25,2005,0,3,0,0,5,13,21
26,2006,0,1,0,0,2,13,16
27,2007,0,1,0,0,2,13,16
28,2008,0,1,0,0,2,13,16
29,2009,0,0,0,0,1,13,14
...,...,...,...,...,...,...,...,...
702,2014,0,7,0,0,3,305,315
703,2015,0,10,0,0,7,305,322
704,2016,0,2,0,0,1,305,308
705,2002,0,2,0,0,0,307,309
706,2003,0,2,0,0,0,307,309
707,2004,0,1,0,0,1,307,309
708,2005,0,3,0,0,0,307,310
709,2008,0,3,0,0,1,307,311
710,2009,0,4,0,0,0,307,311
711,2010,0,5,0,0,1,307,313
712,2011,0,4,0,0,4,307,315
713,2012,0,5,0,0,0,307,312
714,2013,0,5,0,0,0,307,312
715,2014,0,4,0,0,0,307,311
716,2015,0,3,0,0,0,307,310
717,2016,0,0,0,0,1,307,308
718,2002,0,5,0,4,2,308,319
719,2003,0,6,0,2,4,308,320
720,2004,0,3,0,0,1,308,312
721,2005,0,4,0,0,4,308,316
722,2006,0,5,0,1,0,308,314
723,2007,0,4,0,0,1,308,313
724,2008,0,6,0,1,5,308,320
725,2009,0,10,0,0,3,308,321
726,2010,0,11,0,0,0,308,319
727,2011,0,9,0,0,3,308,320
728,2012,0,7,0,0,7,308,322
729,2013,0,3,0,0,2,308,313
730,2014,0,7,0,0,2,308,317
731,2015,0,7,0,0,3,308,318

# Contraband hits by race
First add one feature for the number of hits by race per (matched) agency per year

In [9]:
tag = "hits"
#if it appears in the contraband database then it is a search
sql_query = """
SELECT count(c.person_id),
       extract(YEAR FROM s.date) AS year
FROM  nc_person p
JOIN nc_stop s ON p.stop_id = s.stop_id
JOIN nc_search se ON s.stop_id = se.stop_id
JOIN nc_contraband c ON se.search_id = c.search_id
WHERE p.type='D'
  AND s.agency_id = <AGENCY_ID>
  AND p.race = '<RACE>'
GROUP BY p.race,
         year
ORDER BY year ASC,
         p.race DESC;
"""
frame = build_features_by_race(sql_query,tag)
frame.to_sql(tag+'_by_race', engine, if_exists='replace')
frame

,year,hits_asian,hits_black,hits_native_american,hits_other,hits_white,agency_id,hits_total
0,2002,0,18,1,3,25,2,49
1,2003,0,4,0,2,15,2,23
2,2004,0,31,0,7,38,2,78
3,2005,0,7,0,1,11,2,21
4,2006,0,0,0,1,4,2,7
5,2007,0,1,0,0,5,2,8
6,2008,0,2,0,0,11,2,15
7,2009,1,43,0,1,77,2,124
8,2010,0,76,0,0,129,2,207
9,2011,1,50,0,0,92,2,145
10,2012,0,103,0,0,126,2,231
11,2013,0,85,0,0,112,2,199
12,2014,0,77,1,1,79,2,160
13,2015,2,61,0,0,72,2,137
14,2016,0,8,0,0,7,2,17
15,2002,0,12,0,0,126,12,150
16,2003,0,23,0,1,83,12,119
17,2004,0,21,0,0,89,12,122
18,2005,0,21,0,1,60,12,94
19,2006,0,10,0,0,20,12,42
20,2007,0,5,0,0,44,12,61
21,2008,0,5,0,0,13,12,30
22,2009,0,4,0,0,7,12,23
23,2010,0,0,0,0,1,12,13
24,2011,0,2,0,0,0,12,14
25,2012,0,2,0,0,1,12,15
26,2013,0,3,0,1,3,12,19
27,2014,0,3,0,1,7,12,23
28,2015,0,3,0,0,3,12,18
29,2016,0,4,0,0,1,12,17
...,...,...,...,...,...,...,...,...
1107,2016,1,42,0,0,34,305,382
1108,2002,0,46,0,2,31,307,386
1109,2003,0,31,0,5,33,307,376
1110,2004,0,18,0,0,7,307,332
1111,2005,0,20,0,0,10,307,337
1112,2006,0,11,0,0,9,307,327
1113,2007,0,16,0,1,8,307,332
1114,2008,0,82,1,0,32,307,422
1115,2009,0,121,0,0,44,307,472
1116,2010,0,104,0,0,42,307,453
1117,2011,0,91,1,0,37,307,436
1118,2012,0,91,0,0,34,307,432
1119,2013,1,73,0,0,40,307,421
1120,2014,0,68,1,1,26,307,403
1121,2015,0,75,0,1,26,307,409
1122,2016,0,7,0,0,6,307,320
1123,2002,0,94,0,19,80,308,501
1124,2003,0,38,0,17,29,308,392
1125,2004,0,35,0,7,38,308,388
1126,2005,0,50,0,1,30,308,389
1127,2006,0,63,0,1,63,308,435
1128,2007,0,97,0,1,82,308,488
1129,2008,0,138,1,1,100,308,548
1130,2009,0,163,0,0,126,308,597
1131,2010,1,148,2,0,109,308,568
1132,2011,2,129,1,0,96,308,536
1133,2012,1,142,1,1,94,308,547
1134,2013,1,161,0,1,130,308,601
1135,2014,2,203,1,0,111,308,625
1136,2015,0,141,0,0,95,308,544