## Creating new features for nctraffic

In [1]:
## Python packages - you may have to pip install sqlalchemy, sqlalchemy_utils, and psycopg2.
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd

Load original database

In [2]:
dbname = 'traffic_stops_nc'
username = 'along528'
pswd = 'password'
con = None
con = psycopg2.connect(database = dbname, user = username, host='localhost', password=pswd)

And create new database for adding features

In [10]:
dbname = 'traffic_police_combined'
username = 'along528'
pswd = 'password'
## 'engine' is a connection to a database
## Here, we're using postgres, but sqlalchemy can connect to other things too.
engine = create_engine('postgresql://%s:%s@localhost/%s'%(username,pswd,dbname))
print engine.url

postgresql://along528:password@localhost/traffic_police_combined

In [11]:
## create a database (if it doesn't exist)
if not database_exists(engine.url):
    create_database(engine.url)
print(database_exists(engine.url))

True

# Stops by race
First add one feature for the number of stops by race per (matched) agency per year

In [3]:
races = ['B','W','A','I','U']
race_descriptive = ['black','white','asian','native_american','other']
import pickle
agencyid_map_police_to_traffic = pickle.load( open( "../nctraffic_police_combined/agencyid_map_police_to_traffic.p", "rb" ) )
agencyid_map_traffic_to_police = pickle.load( open( "../nctraffic_police_combined/agencyid_map_traffic_to_police.p", "rb" ) )
print len(agencyid_map_traffic_to_police)

88

In [8]:
max_agencies = 2
n_agencies = 0
stops_by_race_frame = pd.DataFrame()
frames = []
for agency_id in agencyid_map_traffic_to_police:
    stops_by_race={}
    for race,desc in zip(races,race_descriptive):
        sql_query = """
        SELECT count(person_id),
           extract(YEAR FROM s.date) AS year
        FROM nc_person p
        JOIN nc_stop s ON p.stop_id = s.stop_id
        WHERE p.type='D'
          AND s.agency_id = """+str(agency_id)+"""
          AND p.race = '""" +race+"""'
        GROUP BY p.race,
                 year
        ORDER BY year ASC, p.race DESC;
        """
        stops_by_race["stops_"+desc]=pd.read_sql_query(sql_query,con).set_index('year')['count']
    stops_by_race_frame_agency = pd.DataFrame(stops_by_race)
    stops_by_race_frame_agency['agency_id'] = agency_id
    for year in range(2002,2017):
        if stops_by_
    frames.append(stops_by_race_frame_agency)
    n_agencies+=1
    if max_agencies>0 and n_agencies>=max_agencies: break
stops_by_race_frame = pd.concat(frames)
stops_by_race_frame = stops_by_race_frame.reset_index()
stops_by_race_frame = stops_by_race_frame.fillna(0)
stops_by_race_frame['stops_total'] = stops_by_race_frame.sum(axis=1)
stops_by_race_frame

,year,stops_asian,stops_black,stops_native_american,stops_other,stops_white,agency_id,stops_total
0,2002,1,367,1,51,532,2,2956
1,2003,3,155,1,67,423,2,2654
2,2004,15,508,5,226,969,2,3729
3,2005,1,147,0,28,300,2,2483
4,2006,2,75,1,33,257,2,2376
5,2007,3,113,0,28,280,2,2433
6,2008,4,182,0,11,501,2,2708
7,2009,16,861,0,12,1870,2,4770
8,2010,17,1311,23,11,2988,2,6362
9,2011,15,1076,12,8,2585,2,5709
10,2012,6,1536,8,9,3551,2,7124
11,2013,13,1398,9,6,3141,2,6582
12,2014,13,1012,3,19,2096,2,5159
13,2015,20,1154,7,12,2456,2,5666
14,2016,2,112,0,2,224,2,2358
15,2002,45,1082,6,57,6974,12,10178
16,2003,22,895,2,69,5180,12,8183
17,2004,16,785,2,82,4050,12,6951
18,2005,42,937,3,97,4927,12,8023
19,2006,17,552,3,68,3613,12,6271
20,2007,13,736,4,41,4362,12,7175
21,2008,13,572,1,28,3583,12,6217
22,2009,5,445,1,24,2719,12,5215
23,2010,12,349,1,48,2479,12,4911
24,2011,6,203,1,25,1466,12,3724
25,2012,10,292,2,15,1595,12,3938
26,2013,2,264,0,21,1298,12,3610
27,2014,5,215,0,80,1031,12,3357
28,2015,4,122,0,93,514,12,2760
29,2016,0,27,0,10,123,12,2188
...,...,...,...,...,...,...,...,...
100,2014,93,4527,24,133,7170,35,13996
101,2015,91,4621,27,36,6310,35,13135
102,2016,17,1136,4,8,1553,35,4769
103,2002,40,498,4,82,2612,37,5275
104,2003,52,518,4,129,2915,37,5658
105,2004,62,705,2,274,3280,37,6364
106,2005,53,495,1,149,2152,37,4892
107,2006,10,113,0,22,411,37,2599
108,2007,19,232,1,53,632,37,2981
109,2008,21,296,2,50,839,37,3253
110,2009,32,556,3,58,1884,37,4579
111,2010,35,568,11,18,1672,37,4351
112,2011,28,304,10,3,800,37,3193
113,2012,44,659,20,15,2248,37,5035
114,2013,18,252,11,3,910,37,3244
115,2002,16,215,1,39,322,39,2634
116,2003,11,239,0,19,360,39,2671
117,2004,7,361,0,56,583,39,3050
118,2005,9,343,3,48,724,39,3171
119,2006,4,159,1,9,283,39,2501
120,2007,2,48,0,6,120,39,2222
121,2008,1,216,0,5,626,39,2895
122,2009,0,15,0,0,39,39,2102
123,2010,9,344,1,12,807,39,3222
124,2011,16,409,1,5,936,39,3417
125,2012,17,403,2,13,932,39,3418
126,2013,0,113,0,2,239,39,2406
127,2014,10,133,1,2,338,39,2537
128,2015,17,336,7,35,933,39,3382
129,2016,5,82,1,10,336,39,2489

In [12]:
stops_by_race_frame.to_sql('stops_by_race', engine, if_exists='replace')

In [18]:
stops_by_race_frame[stops_by_race_frame['year']==2002].empty

False